body {
  margin: 0;
  display: grid;
}

.backgroundSlideShow {
  position: relative;
  display: grid;
}

.slide {
  display: none;
}

.main, .medals, .degrees, .pins{
  background-image: url("../images/player.jpg");
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.medals {
  background-image: url("../images/war.jpg");
}

.degrees {
  background-image: url("../images/degrees.jpg");
}

.pins {
  background-image: url("../images/pin.jpeg");
}

.previus, .next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 58px;
  transition: 600ms ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
  text-decoration: none;
  margin-top: -32px;
}

.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.previus:hover, .next:hover {
  background-color: rgba(0, 0, 0, .6)
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1500ms;
  animation-name: fade;
  animation-duration: 1500ms
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  } to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  } to {
    opacity: 1;
  }
}

.circles {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 45px);
  width: 200px;
  position: absolute;
  z-index: 4;
  justify-self: center;
  bottom: 10px;
  background-color: rgba(255, 255, 255, .6);
  padding: 10px;
  border-radius: 15px;
}

.dot {
  /* cursor: pointer; */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: 10px;
  background-color: #808EA6;
  margin: 0 15px;
  transition: 600ms;
  border: 1px solid white;
}

.active, .dot:hover {
  background-color: #ADC0E0;
}
