body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #D7D9DF;
    display: grid;
    align-content: center;
}

.container {
    display: grid;
    padding: 15px 0;
    /* text-align: center; */
    margin: 0;
    color: #2E4061;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 8px black;
    margin: 200px;
    grid-template-rows: 70px 15px 75px;
}

.container * {
    margin: 15px 50px;
}

.container h1 {
    border-bottom: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
}

.container p {
    align-self: center;
}

.container input {
    padding: 5px 15px;
    font-size: 25px;
    margin: 0;
    outline: none;
    border: none;
}

.email-retrieve-form {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-auto-flow: column;
    grid-template-rows: 50px;
    width: 80%;
}

.form-button {
    background-color: #B99F7C;
    color: white;
    border: none;
    box-shadow: 1px 2px 4px black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}

.form-button:hover {
    background-color: #D2B58E;
}

.user-email-field {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* border: 1px solid #2E4061; */
    box-shadow: 1px 2px 4px black;
}