header {
    background-image: linear-gradient(to right, #2E4061, #466394);
    padding: 0 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 110px 515px 380px 400px;
    animation: none;
    box-shadow: 0 4px 8px black;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    z-index: 4;
}

.skyhack-logo {
    background-image: url("../../images/SkyHack.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 110px;
    height: 54px;
    display: grid;
}

.buscador {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 380px 60px;
    align-content: center;
}

.buscador input {
    height: 30px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #304366;
    padding: 0 10px;
    color: #304366;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.buscador a {
    color: white;
    background-color: #B99F7C;
    text-decoration: none;
    border-radius: 5px;
    margin: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 30px;
    align-self: center;
    border: 1px solid #304366;
    font-size: 13px;
    align-content: center;
    display: grid;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.links {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    grid-template-columns: 75px 75px 100px 75px;
    border-right: 1px solid white;
    margin: 7.5px 10px;
    text-align: center;
    justify-content: end;
}

.links a {
    text-decoration: none;
    color: white;
    margin-right: 50px;
    transition: 500ms;
}

.links a:hover {
    text-shadow: 0 0 2px white;
}

.nav-user-section {
    color: white;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.user-fast-nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: 40px 1fr 30px;
    cursor: pointer;
}

.nav-logout-button {
    text-decoration: none;
    color: white;
    transition: 500ms;
}

.nav-logout-button:hover {
    text-shadow: 0px 0px 4px white;
}

.nav-player-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.bell img, .message img {
    width: 25px;
    height: 25px;
}

.login {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px 150px 100px;
    grid-template-rows: 45px 25px;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}

.login input {
    margin: 10px 5px 0 0;
    border: 1px solid #304366;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
}

.login input::placeholder {
    color: #304366;
}

.email {
    grid-column: 1;
    grid-row: 1;
    font-size: 12px;
}

.password {
    grid-column: 2;
    grid-row: 1;
    font-size: 12px;
}

.get-in {
    grid-column: 3;
    grid-row: 1;
    color: white;
    border: none;
    cursor: pointer;
    background: none;
    background-color: #B99F7C;
    text-decoration: none;
    align-content: center;
    margin: 10px 5px 0 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    font-size: 15px;
}

.forgotten {
    grid-column: 2;
    grid-row: 2/-1;
    font-size: 10px;
    color: #B9C1CE;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 5px 0;
}