body {
    font-family: 'Alegreya Sans SC', sans-serif;
    /*background-color: rgba(186, 197, 224, .4);*/
    margin: 0;
}

.mainPage {
    background-image: url("../../images/mainImage.jpg");
    display: grid;
    grid-auto-flow: row;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    height: calc(100vh - 48px);
    grid-template-rows: 250px 140px 60px;
    background-attachment: fixed;
}

.mainImageAlpha {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
    display: grid;
    padding: 0;
    height: calc(100vh - 48px);
}

.skyHackImage {
    background-image: url("../../images/SkyHack.png");
    align-self: center;
    justify-self: center;
    height: 250px;
    width: 450px;
    background-size: 450px 250px;
    margin: 0;
}

.mainTitle {
    padding: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 70px;
    color: white;
    text-align: center;
    margin: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mainPage h3 {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding: 0 20px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 0;
}

.startButton {
    display: grid;
    background-color: transparent;
    border: 3px solid white;
    margin: 0 0 30px 0;
    width: 400px;
    height: 100px;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    /*align-self: center;*/
    justify-self: center;
    font-size: 50px;
    transition: 500ms;
    text-align: center;
    align-items: center;
}

.startButton:hover {
    background-color: white;
    color: black;
}

.students {
    font-family: 'Work Sans', sans-serif;
    width: 100vw;
    font-size: 40px;
    font-weight: 400;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.activity {
    margin: 100px 200px;
    box-shadow: -15px 15px 30px black;
    /*padding: 25px 50px;*/
    display: grid;
    grid-template-rows: 70px 200px 100px;
    height: 500px;
    border-radius: 5px;
    color: white;
    /*color: rgb(70, 99, 148);*/
}

.activityBackgroundAlpha {
    background-color: rgba(0, 0, 0, .6);
    display: grid;
    height: 500px;
    width: 940px;
    margin: 0;
    align-content: space-evenly;
    padding: 0 50px;
    border-radius: 35px;
}

.activity h3 {
    margin: 0;
    grid-row: 1;
    transition: 600ms;
    transform-origin: center;
    transform: scaleX(0) scaleY(0);
    text-align: center;
    text-shadow: -1px 1px 5px black;
}

.activity h3[data-scroll="in"] {
    transform: scaleX(1) scaleY(1);
}

.activity p {
    font-size: 35px;
    font-weight: bold;
    grid-row: 2;
    transform: scaleX(0) scaleY(0);
    transform-origin: center;
    transition: 600ms;
    text-shadow: -1px 1px 2px black;
    text-align: center;
    margin: 0;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.activity p[data-scroll="in"] {
    transform: scaleX(1) scaleY(1);
}

.activityButton {
    width: 400px;
    border: none;
    background-color: limegreen;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    justify-self: center;
    margin: 25px 0;
    grid-row: 3;
    transition: 600ms;
    transform-origin: center;
    height: 50px;
    transform: scaleX(0) scaleY(0);
    /*box-shadow: -5px 5px 10px black;*/
}

.activityButton[data-scroll="in"] {
    transform: scaleX(1) scaleY(1);
}

.activityButton:hover {
    background-color: white;
    color: limegreen;
}

.learn, .imagine, .create, .hack {
    /*background-image: url("https://picsum.photos/id/1010/height/width");*/
    background-image: url("../../images/feymann.JPG");
    background-repeat: no-repeat;
    border-radius: 35px;
    background-size: cover;
    background-position: center center;
}

.imagine {
    background-image: url("../../images/lennon.JPG");
    background-position: center 40%;
}

.create {
    background-image: url("../../images/jobs.JPG");

}
.hack {
    background-image: url("../../images/turing.jpg");
}

.hiring {
    display: grid;
    grid-template-columns: 600px 1fr;
    padding: 50px 100px;
    height: 50vh;
    background-image: linear-gradient(rgba(70, 99, 148, 0), rgba(70, 99, 148, 1));
    color: white;
    text-align: center;
}

.hiringCarroussel {
    /*position: relative;*/
}

.hiringTextBox {
    padding: 0 20px;
    display: grid;
    grid-template-rows: 55px 40px 100px 100px;
    align-content: center;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    text-shadow: none;
}

.hiringTextBox h3 {
    font-size: 45px;
    margin: 0;
}

.hiringTextBox h5 {
    font-size: 20px;
    margin: 0;
}

.hiringTextBox p {
    font-size: 20px;
    margin: 0;
}

.photo {
    display: grid;
    width: 600px;
    height: 400px;
    background-size: cover;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

.photo img {
    width: 600px;
    height: 400px;
    border-radius: 35px;
}

.hiringButton {
    grid-row: 4;
}

.powered {
    background-image: url("../../images/poweredBackground.jpg");
    background-size: cover;
    background-position: 50% 20%;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 0;
    background-attachment: fixed;
}

.poweredAlpha {
    display: grid;
    background-color: rgba(0, 0, 0, .5);
    margin: 0;
    height: 100%;
}

.logos {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    margin: 0 0 20px 0;
}

.poweredImages {
    width: 300px;
    height: 200px;
}

.acatlan {
    width: 200px;
}