* {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #D7D9DF;
}

.player-info {
  margin: 4px 0;
  padding: 20px 200px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 30px 1fr 100px;
  background-color: white;
  box-shadow: 0 2px 8px black;
}

.photo {
  grid-column: 1;
  grid-row: 1/-1;
  text-align: center;
}

.profile-photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.photo a {
  color: #B99F7C;
  transition: 500ms;
}

.photo a:hover {
  text-shadow: 0 0 4px #B99F7C;
}

.player-info h3 {
  grid-column: 2;
  margin: 0;
  align-self: center;
}

.player-info p {
  grid-column: 2;
  margin: 0;
}

.user-social-media {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
  justify-self: start;
}

.social-media-image {
  width: 30px;
  height: 30px;
}

.info-button {
  background-color: #D7D9DF;
  border-radius: 10px;
  color: #2E4061;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin: 0 20px;
  text-align: end;
  padding: 2.5px 20px 2.5px 0;
  grid-column: 50px 100px;
  width: 150px;
  transition: 500ms;
}


.info-button-image-background {
  display: grid;
  align-content: center;
  background-color: #B99F7C;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  margin: 0;
  height: 100%;
  transform-origin: left;
  padding: 2.5px 0;
}

.info-button-image-background img {
  width: 24px;
  height: 24px;
}

.info-button:hover {
  background-color: #B99F7C;
  color: white;
}