{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" href="{% static "css/account_active_email_style.css" %}"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body style="display: grid;
    align-content: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 200px;
    /* grid-template-columns: 150px 1000px 300px; */
    background-color: #D7D9DF;">
    <div class="container" style="
        display: grid;
        grid-template-rows: repeat(3, 100px);
        background-image: linear-gradient(to right, #2E4061, #466394);
        border-radius: 15px;
        padding: 20px 100px;
        align-items: center;
    ">
        <h1 style="grid-column: 2;
            grid-row: 1;
            text-align: center;">
            Hola {{ user.username }} 🙂
        </h1>
        <p style="
            grid-column: 2;
            grid-row: 2;
            text-align: center;
            font-size: 25px;
        ">Será un placer tenerte en nuestra comunidad sólo necesitas confirmar tu e-mail con el link de abajo</p>
        <a 
            href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}"
            style="text-decoration: none;
            color: white;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 4px 8px black;
            background-color: #B99F7C;
            height: 35px;
            padding: 10px;
            display: grid;
            align-items: center;
            transition: 500ms;
            grid-column: 2;
            grid-row: 3;
            font-size: 25px;" 
        >
            Confirmar registro
        </a> 
    </div>
</body>
</html>
{% endautoescape %}