<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_course_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>@{{ username }} | add course</title>
</head>
{% include "players/mainHeader.html" %}
{% block header %}
{% endblock %}
<body>
    <section class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="{% url 'player' %}">{{ username }}</a>
            <p> / </p>
            <p> Agregar curso </p>
        </div>
        <h1>Agregar curso</h1>
    </section>
    <form class="upload-course" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="upload-file-button" id="upload-file-button" type="file">
        <label for="upload-file-button">
            <img src="{% static 'images/upload.svg' %}" alt="">
            <span>Sube tu archivo</span> 
        </label>
        <input class="upload-course-button" type="submit" value="¡Subir curso!">
    </form>
    <section class="upload-course-help">
        <iframe src="https://www.youtube.com/embed/MDvazVyFn8A" frameborder="0" width="400" height="295" allowfullscreen>Tu navegador no soporta pantalla completa :(</iframe>
        <h3>¿Cómo subir un curso?</h3>
        <p>En este video te mostramos cómo subir un curso. Cualquier inconveniente repórtalo con los líderes.</p>
    </section>
</body>
{% for error in form.errors %}
<script>
    alert("{{ error }}");
</script>
{% endfor %}
</html>