<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/forgot_password_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
{% include "players/mainHeader.html"%}
{% block header %}
{% endblock %}
<body>
    <div class="container">
        <h1>Olvidé mi correo y contraseña</h1>
        <p>Escribe el e-mail de tu cuenta, enviaremos un correo de recuperación.</p>
        <form class="email-retrieve-form" action="{% url 'email_retrieve_password' %}" method="POST">
            {% csrf_token %}
            <input class="user-email-field" type="email" placeholder="E-mail" name="user_email" required>
            <input class="form-button" type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>