<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/players/mainFooter_style.css' %}">
</head>
<footer>
    <div class="start">
        <img class="logo" src="{% static 'images/SkyHack.png' %}" alt="">
        <div class="bottom-links">
            <a href="">Documentos</a>
            <a href="">Inicio</a>
            <a href="">Cursos</a>
            <a href="">Eventos</a>
            <a href="">FAQ</a>
            <a href="">Acerca de nosotros</a>
        </div>
        <div class="social-media">
            <a href=""><img src="{% static 'images/gitHub.png' %}" alt=""></a>
            <a href=""><img src="{% static 'images/Facebook.png' %}" alt=""></a>
            <a href=""><img src="{% static 'images/Youtube.png' %}" alt=""></a>
            <a href=""><img src="{% static 'images/Twitter.png' %}" alt=""></a>
            <a href=""><img src="{% static 'images/Instagram.png' %}" alt=""></a>
        </div>
    </div>
    <div class="email-me">
        <p>No te pierdas eventos increíbles</p>
        <div class="footer-form">
            {% csrf_token %}
            <input type="email" placeholder="Registra tu e-mail">
            <input type="submit" value="¡Notifícame!">
        </div>
    </div>
    <div class="end">
        <div class="powered-by">
            <p>Powered by</p>
            <img class="logo-unam" src="{% static 'images/logoUnam.png' %}" alt="">
            <img class="stakeholders-logos" src="{% static 'images/logoAcatlan.png' %}" alt="">
            <a href=""><img class="stakeholders-logos" src="{% static 'images/Github_blanco.png' %}" alt=""></a>
            <a href=""><img class="stakeholders-logos" src="{% static 'images/hack_club.png' %}" alt=""></a>
        </div>
        <p>De MAC con 💙 para el mundo</p>
    </div>
</footer>