<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/players/mainHeader_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<header id="header">
  <div class="skyhack-logo">
  </div>
  <div class="buscador">
    <input type="text" placeholder="Busca en SkyHack">
    <a href="">Buscar</a>
  </div>
  <div class="links">
    <a href="{% url 'players:index' %}">Inicio</a>
    <a href="{% url 'courses:catalog' %}">Cursos</a>
    <a href="{% url 'players:index' %}#events">Eventos</a>
    <a href="#faq">FAQ</a>
  </div>

  {% if request.user.player %}
    <div class="nav-user-section">
      <div class="user-fast-nav">
        {% if request.user.player.image %}
          <img class="nav-player-image" src="{{ request.user.player.image.url }}" alt="">
        {% else %}
          <img class="nav-player-image" src="{% static 'images/default_user.svg' %}" alt="">
        {% endif %}
        <p class="nav-player-points">{{ request.user.player.points }} pts</p>
        <img class="arrow" src="{% static 'images/arrow-down.svg' %}" alt="">
      </div>
      <a class="bell" href=""><img src="{% static 'images/bell.svg' %}" alt=""></a>
      <a class="message" href=""><img src="{% static 'images/message-circle.svg' %}" alt="" class="message"></a>
      <a class="nav-logout-button" href="{% url 'players:logout' %}">Cerrar sesión</a>
    </div>
  {% else %}
    <form class="login" method="POST" action="{% url 'players:login' %}">
      {% csrf_token %}
      <input class="email" type="text" placeholder="Correo Electrónico" name="email">
      <input class="password" type="password" placeholder="Contraseña" name="password">
      <a class="forgotten" href="">Olvidé mi correo y contraseña</a>
      <input type="submit" class="get-in" href="" value="Ingresar">
    </form>
  {% endif %}
</header>