<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/players/player_style.css' %}">
    <title>@{{ user.username }} | Profile</title>
  </head>
  {% include "players/mainHeader.html" %}
  {% block header %}
  {% endblock %}
  <body>
    <section class="player-info">
      <div class="photo">
        {% if user.player.image.url %}
          <img class="profile-photo" src="{{ user.player.image.url }}" alt="">
        {% else %}
          <img class="profile-photo" src="{% static 'images/default_user.JPG' %}" alt="">
        {% endif %}
        {% if user == request.user %}
          <a href="">Editar perfil</a>
        {% endif %}
      </div>
      <h3>{{ user.username }} | {{ user.player.points }} points</h3>
      {% if user.player.description %}
        <p>{{ user.player.description }}</p>
      {% else %}
        <p>El usuario no ha agregado ninguna descripción</p>
      {% endif %}
      <div class="user-social-media">
        <div class="social-media-links">
          {% if user.player.facebook %}
            <a href="{{ user.player.facebook }}"><img class="social-media-image" src="{% static 'images/facebook.png' %}" alt=""></a>
          {% endif %}
          {% if user.player.twitter %}
            <a href="{{ user.player.twitter }}"><img class="social-media-image" src="{% static 'images/twitter.png' %}" alt=""></a>
          {% endif %}
          {% if user.player.instagram %}
            <a href="{{ user.player.instagram }}"><img class="social-media-image" src="{% static 'images/Instagram.png' %}"alt=""></a>
          {% endif %}
          {% if user.player.youtube %}
            <a href="{{ user.player.youtube }}"><img class="social-media-image" src="{% static 'images/youtube.png' %}" alt=""></a>
          {% endif %}
          {% if user.player.website %}
            <a href="{{ user.player.website }}">{{ website }}</a>
          {% endif %}
        </div>
        {% if user.player.grade == "Senior Cluster Manager" and user == request.user %}
          <a class="upload info-button" href="{% url 'players:admin_panel' request.user.username %}">
            <div class="info-button-image-background">
              <img src="{% static 'images/upload.svg' %}" alt="">
            </div>
            <p>Admin panel</p>
          </a>
        {% endif %}
        {% if user == request.user %}
          <a class="play info-button" href="">
            <div class="info-button-image-background">
              <img src="{% static 'images/play-circle.svg' %}" alt="">
            </div>
            <p>Ejercicios</p>
          </a>
        {% endif %}
      </div>
    </section>
  </body>
</html>
