<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/player_style.css' %}">
    <title>Profile</title>
  </head>
  <body>
    <div class="backgroundSlideShow">
      {% include "players/gameLogic.html" %}
      {% block gameButtonsContainer %}
      {% endblock %}
      <div class="slide main fade">
        <h1> > Profile</h1>
        <div class="profileData">
          <div class="profileImage"></div>
          <p class="data">UserName</p> <!-- UserName -->
          <p class="data">Default</p> <!-- Cluster -->
          <p class="data">00000000</p> <!-- Score -->
          <p class="data">Default</p> <!-- Grade -->
        </div>
      </div>

      <div class="medals slide fade">
        <h1> > Medals</h1>
      </div>

      <div class="degrees slide fade">
        <h1> > Degrees</h1>
      </div>

      <div class="pins slide fade">
        <h1> > Pins</h1>
      </div>

      <a class="previus" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div class="circles">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </body>
  <script src="../../static/scripts/player_script.js" charset="utf-8"></script>
</html>
