<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title> {{  user.username }} | Restablecer Contraseña </title>
    <link rel="stylesheet" href="{% static 'css/players/retrieve_password_template_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    {% include "players/mainHeader.html" %}
    {% block header %}
    {% endblock %}
    <div class="container">
        <h1>Hola {{ user.username }} 👽</h1>
        <p>Escribe tu nueva contraseña</p>
        <form class="retrieve-password-form" action="{% url 'retrieve_password' uidb64=user_id %}" method="POST">
            {% csrf_token %}
            <input type="password" placeholder="Nueva contraseña" name="new_password" required>
            <input type="password" placeholder="Confirma nueva contraseña" name="confirm_new_password" required>
            <input type="submit" value="¡Listo!">
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% if is_password_changed == False %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Las contraseñas no coinciden 😰',
        text: 'inténtalo de nuevo'
    })
</script>
{% endif %}
</html>