{% autoescape off %}
<div 
    style="
        background-image: linear-gradient(to right, #2E4061, #466394);
        border-radius: 5px;
        box-shadow: 3px 3px 8px black;
        padding: 20px;
        display: grid;
        justify-content: center;
    "
>
    <h1 style="color: white; margin: 2px;">Hola {{ user.username }} 🙂,</h1>
    <p style="color: white; margin: 2px;">Este es el correo de recuperación que solicitaste, para cambiar tu contraseña haz click en el botón de abajo 👇🏼</p>
    <a 
        href="http://{{ domain }}{% url 'retrieve_password_template' uidb64=user_id token=token %}"
        style="
            display: grid;
            text-decoration: none;
            background-color: #B99F7C;
            color: white;
            height: 35px;
            padding: 15px;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 2px 2px 8px black;
            justify-self: center;
            width: 300px;
            font-size: 25px;
        "
    >
    Reestablecer contraseña</a> 
</div>
{% endautoescape %}